<div class="bookdemo">
  <div class="container">
    <div class="book-img py-2">
      <div class="images">
        <div class="row">
          <div class="col-md-6 d-flex justify-content-end">
            <div class="book-btn">
              <button type="button" class="btn btn-host" (click)="bookDemo()">Book A Demo</button>
            </div>
          </div>
        </div>
        <img src="../../../assets/images/Bookademobox.png" alt="" class="book-img desktop" />
        <img src="../../../assets/images/Bookademomobileview.png" alt="" class="phone-img mobile" />
      </div>
    </div>
  </div>
</div>
