<div class="feature-back">
  <div class="container key-cont">
    <div class="key-features">
      <h2 class="feature-text">Key Features</h2>
    </div>
    <div class="d-flex justify-content-center">
      <p class="feature-para">
        We have come up with all the features and functionalities you need to host an event.
      </p>
    </div>
    <div class="row py-3">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="images">
            <img
              src="../../../assets/images/spatialaudio.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Spatial Audio</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="images">
            <img
              src="../../../assets/images/avatar.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Customizable Avatars</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="images">
            <img
              src="../../../assets/images/Avataractions.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Fun Actions</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="images">
            <img
              src="../../../assets/images/emoji.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Emoji</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="images">
            <img
              src="../../../assets/images/price.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Flexible Pricing</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card">
          <div class="images">
            <img
              src="../../../assets/images/recordvideo.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Record Videos</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
