<div class="row mx-0">
  <div class="col-md-6">
    <div class="row py-4">
      <div class="col-md-2"></div>
      <div class="col-md-10 piroImg">
        <img src="../../assets/images/PiroSpacelogo.svg" alt="" class="piro-img" (click)="imgClick()" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10" [ngStyle]="{ display: formStyle }">

        <!-- already cominted -->

        <!-- <div>
          <p class="host-para">Welcome To</p>
          <p class="book-text">Piro Space</p>
          <hr class="underline" />
        </div> -->
        <!-- <div class="backButton">
          <p class="back"> <i class="fa-solid fa-chevron-left"  style="font-size: 0.73em;"></i> Back</p>
        </div> -->

        <!-- already cominted -->

        <!--  cominted -->
          <div class="col-md piro-flex-prop">
            <p class="host-event">Create an Account</p>
          </div>

        <div class="col-md-6">
          <div class="form-submit">
            <form autocomplete="off" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-12 flex-class">
                  <div class="form-group mb-3">
                    <input
                      autocomplete="false"
                      type="text"
                      class="form-control extra-width"
                      id="name"
                      placeholder="Name *"
                      formControlName="fullName"
                      data-toggle="tooltip"
                      data-trigger="hover"
                      data-placement="top"
                      required
                      data-original-title=""
                      title=""
                      maxlength="28"
                    />
                    <div class="mt-1 erros" *ngIf="submitted && f['fullName'].invalid">
                      <p *ngIf="f['fullName'].errors && f['fullName'].errors['required']" class="erros-valid">
                        <i class="fa-solid fa-circle-exclamation"></i> Name is required
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 flex-class">
                  <div class="form-group mb-3">
                    <input
                      autocomplete="false"
                      type="email"
                      class="form-control extra-width"
                      placeholder="Email Address*"
                      formControlName="email"
                      data-toggle="tooltip"
                      data-trigger="hover"
                      data-placement="top"
                      required
                      data-original-title=""
                      title=""
                      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                      [email]="true"
                    />

                    <div class="mt-1 erros" *ngIf="submitted && f['email'].invalid">
                      <p *ngIf="f['email'].errors && f['email'].errors['required']" class="erros-valid">
                        <i class="fa-solid fa-circle-exclamation"></i> Email is required
                      </p>
                      <p *ngIf="f['email'].errors?.['email']" class="erros-valid">
                        <i class="fa-solid fa-circle-exclamation"></i> Enter A Valid Email
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 flex-class">
                  <div class="form-group mb-3">
                    <select class="form-select extra-width" aria-label="Default select example"  formControlName="gender"  placeholder="Select Gender *">
                      <option selected disabled value="" >Select Gender *</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="others">Others</option>
                    </select>
                    <div class="mt-1 erros" *ngIf="submitted && f['gender'].invalid">
                      <p *ngIf="f['gender'].errors && f['gender'].errors['required']" class="erros-valid">
                        <i class="fa-solid fa-circle-exclamation"></i> Gender is required
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 flex-class">
                  <div class="control-class">
                    <div class="tele extra-width">
                      <ngx-intl-tel-input
                        [cssClass]="'form-control '"
                        [preferredCountries]="preferredCountries"
                        [enableAutoCountrySelect]="false"
                        [enablePlaceholder]="true"
                        [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                        [selectFirstCountry]="false"
                        [selectedCountryISO]="CountryISO.India"
                        [selectFirstCountry]="selectFirstCountry"
                        [phoneValidation]="true" 
                        [separateDialCode]="separateDialCode"
                        (ngModelChange)="onChange($event)"
                        formControlName="phoneNumber"
                       
                      >
                      </ngx-intl-tel-input>
                    </div>
                     <!--  cominted -->

                      <!--already  cominted -->

                    <div class="erros" *ngIf="submitted && f['phoneNumber'].invalid">
                      <p *ngIf="f['phoneNumber'].errors && f['phoneNumber'].errors['required']" class="erros-valid">
                        <i class="fa-solid fa-circle-exclamation"></i> Phone is required
                      </p>
                    </div>
                    <div class="mt-1 erros" *ngIf="submitted && f['phoneNumber'].errors && !f['phoneNumber'].errors['required']">
                      <p *ngIf="f['phoneNumber'].errors && f['phoneNumber'].invalid && f['phoneNumber'].errors['forbiddenSymbol']" class="erros-valid">
                        <i class="fa-solid fa-circle-exclamation"></i> Please enter valid phone number
                      </p>
                    </div>
                    <!--already  cominted -->

                      <!--  cominted -->
                  </div>
                </div>
                <div class="col-lg-12 flex-class mt-3">
                  <div class="form-group mb-3">
                    <select class="form-select extra-width" aria-label="Default select example"  placeholder="Select Account Type *"  formControlName="accountType">
                      <option selected disabled value="" >Select Account Type *</option>
                      <option value="INDIVIDUAL">Individual</option>
                      <option value="BUSINESS">Business</option>

                    </select>
                    <div class="mt-1 erros" *ngIf="submitted && f['accountType'].invalid">
                      <p *ngIf="f['accountType'].errors && f['accountType'].errors['required']" class="erros-valid">
                        <i class="fa-solid fa-circle-exclamation"></i> Account Type is required
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <p class="error-class-backend" *ngIf="errorMessage">
                  <i class="fa-solid fa-circle-exclamation"></i> {{ errorMessage }}
                </p>
              </div>
              <div class="row">
                <div class="col-md flex-class">
                  <div class="form-actions mt-2">
                    <button type="submit" class="btn_mythree" [disabled]="btnState">
                      Submit <i class="fa fa-spinner fa-spin" *ngIf="imgloading"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

          <!--  cominted -->

            <!-- Already cominted -->
        <!-- <div class="col-md-7 strike">
          <span>OR</span>
        </div>

        <div class="login-para">
          <p>Login with your social media account or email address</p>
        </div>
        <div class="row socialIconsShow">
          <div class="col google">
            <button type="button" class="btn btn-google d-flex">
              <img src="../../assets/images/google.png" alt="" class="mx-1" /> Google
            </button>
          </div>
          <div class="col facbook">
            <button type="button" class="btn btn-facebook d-flex">
              <img src="../../assets/images/facebook.png" alt="" class="mx-1" /> Facebook
            </button>
          </div>
        </div> -->

        <!-- Already cominted -->

        
        <!--  cominted -->
        <div class="not-account-para">
          <p>Already have an account? <a href="login" class="create-link">Login</a></p>
        </div>
      </div>
      <div class="col-md-10 otpShows" [ngStyle]="{ display: otpStyle }">
        <div>
          <p class="back" (click)="getBack()"><i class="fa-solid fa-chevron-left"></i> Back</p>
        </div>
        <div>
          <p class="otp-para">Received a verification code?</p>
          <p class="otp-text">
            We've sent an otp on your registered email address <b>{{ emails }}</b
            >.
          </p>
          <p class="otp-text-code">Enter the 6-digit code.</p>
        </div>
        <div class="col-md-11 mt-5">
          <form autocomplete="off" [formGroup]="otpForm" (ngSubmit)="signUpOtpVerify()">
            <div class="otp">
              <ng-otp-input
                (onInputChange)="onOtpChange($event)"
                *ngIf="showOtpComponent"
                formControlName="emailOtp"
                ngDefaultControl
                [config]="{ length: 6,allowNumbersOnly:true }"
                maxlength="6"

              ></ng-otp-input>
              <div class="mt-1" *ngIf="submitted && o['emailOtp'].invalid">
                <p *ngIf="o['emailOtp'].errors && o['emailOtp'].errors['required']" class="erros-valid">
                  <i class="fa-solid fa-circle-exclamation"></i> Please Enter 6 Digit Code.
                </p>
                <p *ngIf="o['emailOtp'].errors && o['emailOtp'].errors['maxlength']" class="erros-valid">
                  <i class="fa-solid fa-circle-exclamation"></i> Please Enter 6 Digit Code.
                </p>
              </div>
              <p class="not-otp-para">Didn't receive the code? <a class="create-link-resend">Resend</a></p>
            </div>
            <p class="error-class-backend-1" *ngIf="errorMessageVerify">
              <i class="fa-solid fa-circle-exclamation"></i> {{ errorMessageVerify }}
            </p>
            <div class="form-actions">
              <button type="submit" class="btn_mythree" [disabled]="btnState2">
                Submit <i class="fa fa-spinner fa-spin" *ngIf="imgloading"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 desktopImg px-0">
    <img src="../../assets/images/Signin.png" alt="" class="demo-img" />
  </div>
  <div class="">
    <div class="container iPadImg">
      <img src="../../assets/images/Signin.png" alt="" class="demo-img" />
    </div>
  </div>
</div>
<!-- cominted -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: displayStyle }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12 success">
          <div class="img-success">
            <img src="../../assets/images/congratulations.png" alt="" width="100%" />
          </div>
        </div>
      </div>

      <div class="modal-body para">
        <p class="contact">Congratulations!</p>
        <p class="contact-congrats">
          Your Piro Space account has been created. Thank you for filling out our sign up form. We are glad that you joined us.
        </p>
      </div>
      <div class="btn-done">
        <button type="button" class="btn btn-down" (click)="closePopup()">Let’s Get Started</button>
      </div>
    </div>
  </div>
</div> 

<!-- Metamask Wallet start -->
<!-- <div class="modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content2">
      <div class="row">
        <div class="col-md-12 success">
          <div class="img-success">
            <img src="../../../assets/images/wallet (1) 1.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="modal-body para">
        <p class="contact">Connect your Wallet</p>
      </div>
      <div class="btn-done">
        <button type="button" class="btn btn-down" (click)="closePopup2()" >
          <img src="../../../assets/images/metramask.png" alt="" class="mx-1"/>
          <span class="metamask"> Connect with MetaMask</span></button>
      </div>
      <div class="lets">
        <a href=""class="later">i'll do it later</a>
      </div>
    </div>
  </div>
</div> -->
<!-- Metamask Wallet start -->
