<div class="container">
  <div class="row mt-5">
    <h6 class="back">Back</h6>
  </div>
  <div class="row mt-3">
    <h3>Enter Your Payment Details</h3>
  </div>
  <div class="row mt-4">
    <div class="col-md-8 choose-option">
      <h5>Choose Your Payment Method</h5>
      <form action="">
        <div class="row">
          <div class="col-md">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Paypal
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
              <label class="form-check-label" for="flexRadioDefault2">
                Credit Card/ Debit Card
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
              <label class="form-check-label" for="flexRadioDefault3">
               UPI
              </label>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <label for="validationCustom01" class="form-label">Card Information</label>
            <input type="number" class="form-control" id="validationCustom01" placeholder="xxxx-xxxx-xxxx" required>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">MM/YY</label>
            <input type="number" class="form-control" id="validationCustom01" placeholder="mm/yy" required>
          </div>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">CVV</label>
            <input type="number" class="form-control" id="validationCustom01" placeholder="xxx" required>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-8">
            <label for="validationCustom01" class="form-label">Name Of Card</label>
            <input type="number" class="form-control" id="validationCustom01" placeholder="Enter Card Name" required>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-8">
            <label for="validationCustom01" class="form-label">Address</label>
            <input type="number" class="form-control" id="validationCustom01" placeholder="Enter Addres" required>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 ">

    </div>
  </div>
</div>
