<div class="event-back">
  <div class="container">
    <div class="key-features">
      <h2 class="event-text">Event Management Features</h2>
    </div>
    <div class="d-flex justify-content-center">
      <p class="event-para">Check out some of our best features which you can have access to in hosting your thrilling events and providing participants and visitors with an engaging experience.</p>
    </div>
    <div class="vert-tabs py-5">
      <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button
            class="nav-link active btn-tab"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-home"
            type="button"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            <b class="tab-titles">Space Customization</b>

            <p class="tab-para">You will be able to customize the selected space in which you’re planning to host your event.</p>
          </button>
          <button
            class="nav-link btn-tab"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            <b class="tab-titles">Access Management</b>

            <p class="tab-para">
              You get to choose whether participants and guests will have open access to the event or password-protected access,
              among other options, in access management.
            </p>
          </button>
          <button
            class="nav-link btn-tab"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-messages"
            type="button"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            <b class="tab-titles">Invitation Management</b>

            <p class="tab-para">
              You can manage the invitations to your attendees & guests from this section. You get the chance of sending out mass
              invitations to participants at once.
            </p>
          </button>
          <button
            class="nav-link btn-tab"
            id="v-pills-settings-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-settings"
            type="button"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
          >
            <b class="tab-titles">Role Management</b>

            <p class="tab-para">
              You can assign diverse individuals to your events, such as Organizers and Speakers, and customize their access.
            </p>
          </button>
          <button
            class="nav-link btn-tab"
            id="v-pills-event-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-event"
            type="button"
            role="tab"
            aria-controls="v-pills-event"
            aria-selected="false"
          >
            <b class="tab-titles">Event Ticketing System</b>

            <p class="tab-para">
              You can choose to register for your events using a ticketing system, giving you complete control over the ticket and
              pricing options.
            </p>
          </button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <img src="../../../assets/images/SpaceCustomization.png" alt="" class="events-img" />
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <img src="../../../assets/images/AccessManagementImage.png" alt="" class="events-img" />
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <img src="../../../assets/images/InvitationManagement.png" alt="" class="events-img" />
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <img src="../../../assets/images/RoleManagement.png" alt="" class="events-img" />
          </div>
          <div class="tab-pane fade" id="v-pills-event" role="tabpanel" aria-labelledby="v-pills-event-tab">
            <img src="../../../assets/images/EventTicketingSystem.png" alt="" class="events-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
