.signOut-button {
  margin-top: 1rem;
  text-align: end;
}
.fa-heart {
  color: #ccc;
  font-size: 22px;
}

.fa-heart.active {
  color: #33cc94;
}

.fa-solid {
  color: black;
  font-size: 11px;
}
.heads {
  padding: 2rem;
}

.btn_joins {
  background: white;
  border: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
  color: #33cc94;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  height: 40px;
  width: 10rem;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 23px;
}

.btn-close {
  border-radius: 50%;
  background-color: #33cc94;
}

.back {
  color: #33cc94;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.piro-text {
  color: #33cc94;
  font-weight: 600;
  font-size: 1.1rem;
}
.book-date {
  font-weight: 700;
  font-size: 28px;

  color: #525252;
}
.book-title {
  font-weight: 700;
  font-size: 2.8rem;
  color: #152934;
}

.dates {
  font-weight: 400;
  font-size: 24px;
  color: white;
  background: #152934;
  border-radius: 4px 0px 0px 4px;
}

.bold-event {
  font-size: 20px;
}

.register-para {
  font-weight: 400;
  font-size: 18px;
  text-align: inherit;
  color: #525252;
}

.regis-text {
  font-weight: 700;
  font-size: 18px;
  color: #33cc94;
}

.amount-text {
  color: #33cc94;
  font-weight: 700;
  font-size: 1.4rem;
}

.heading-2 {
  color: #33cc94;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  margin-top: 15px;
}
.show-img {
  width: 100%;
  height: 550px;
}

.other-text {
  font-weight: 700;
  font-size: 35px;
  color: #152934;
}

.box-7 {
  background: #ffffff;
  box-shadow: 0px 6px 10px 0px #457d681a;
  border-radius: 16px;
  padding: 1.5rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.box-5 {
  background: #ffffff;
  box-shadow: 0px 6px 10px 0px #457d681a;
  border-radius: 16px;
  padding: 1.5rem;
  height: 17rem;
}

.box-1 {
  background: #ffffff;
  box-shadow: 0px 6px 10px 0px #457d681a;
  border-radius: 16px;
  padding: 1.5rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
}
.stage-email {
  font-size: 20px;
  margin-left: 15px !important;
}

.box-2 {
  background: #ffffff;
  box-shadow: 0px 6px 10px 0px #457d681a;
  border-radius: 16px;
  padding: 1.5rem;
  height: 34rem;
  display: flex;
  flex-direction: column;
}

.summary-box {
  background: #ffffff;
  box-shadow: 0px 6px 10px 0px #457d681a;
  border-radius: 16px;
  padding: 1rem;
}

.event-summary {
  font-weight: 700;

  color: #152934;
}
.speaker-icon {
  width: 3.5vw;
}

.title-head {
  font-weight: 600;
  font-size: 32px;

  color: #152934;
}

.viewAll {
  font-weight: 700;
  font-size: 15px;

  color: #152934;
  text-align: end;
}

.box-speaker {
  background: #f6f6f6;
  border: 0.5px solid #c4c4c4;
  box-shadow: 0px 2px 4px rgba(182, 182, 182, 0.25);
  border-radius: 4px;
  padding: 0.5rem;
  height: 94px;
}

.scrools-list {
  max-height: 9rem;
  overflow-y: auto;
}

.slash{
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.unorder-img {
  list-style: none;
  display: flex;
}
.attend {
  color: #525252;
  font-weight: 700;
  font-size: 18px;
}

.box-attend {
  background: #f6f6f6;
  border-radius: 4px;
}

.parent {
  display: flex;
  flex-direction: column;
}

.child {
  margin-top: auto;
}

.speaker-head {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 0rem;
  color: #525252;
  margin-left: 15px !important;
}

.org-title {
  font-weight: 600;
  font-size: 32px;
  color: #152934;
}
.venuename{
  font-size: 1.25rem;
  font-weight: 650;
}

.piro-img {
  height: 50px;
  margin-bottom: 1.2rem;
}

.org-para {
  font-weight: 400;
  font-size: 17px;
  color: #525252;
}

.detail {
  text-align: center;
}

.btn_common {
  padding: 0px 30px !important;
  border: 1px solid #33cc94 !important;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;

  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.5px;
  height: 40px;
  color: #33cc94;
  background: white;
  width: 10rem;
}

.btn_common:hover {
  background-color: #33cc94;
  color: white;
}

.session-title {
  font-weight: 600;
  font-size: 22px;
  color: #152934;
  margin-bottom: 0rem;
}

.marg {
  font-size: 18px;
  margin-bottom: 0.5rem;
}
.desc {
  font-weight: 400;
  font-size: 13.3168px;

  color: #525252;
}

.colors {
  background: #f6f6f6;
  padding: 0.8rem;

  border: 0.5px solid #c4c4c4;
  box-shadow: 0px 2px 4px rgba(182, 182, 182, 0.25);
  border-radius: 4px;
}

.padding-box {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-text-1 {
  font-weight: bold;
  margin-bottom: 0rem !important;
  color: #525252;
  font-size: 12px;
}

.card-text-2 {
  font-weight: 400;
  margin-bottom: 0rem;
}

.card-text-3 {
  font-weight: bold;
}

.card-body {
  text-align: initial;
}

.piro {
  font-size: 11px;
  margin-bottom: 0rem;
}

.btn-register {
  padding: 0px 30px !important;
  border: 1px solid #33cc94 !important;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;

  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.5px;
  height: 50px;
  background-color: #33cc94;
  color: white;
  font-size: 14px;
  width: 45%;
}

.btn-register:hover {
  color: #33cc94;
  background: white;
}

.regis {
  text-align: end;
}

.card-img-top {
  padding: 1rem;
}

.box-3 {
  background: #ffffff;
  box-shadow: 0px 6px 10px 0px #457d681a;
  border-radius: 16px;
  padding: 2rem;
}
/*
.size-img {
  text-align: center;
} */

.btn_joins {
  background: white;
  border: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
  color: #33cc94;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  height: 40px;
  width: 10rem;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 18px;
}
.img-place {
  height: 14rem;
  width: 95%;
  border-radius: 8px;
  object-fit: cover;
}

.domains{
  background-color: #f6f6f6;
  padding: 10px;
  width: 60%;
}
.accestype {
  font-size: 1.25rem;
  font-weight: 650;
}

.title-head-basic {
  font-weight: 600;
  font-size: 32px;
  color: #152934;
  margin-left: -2rem;
}

ul {
  list-style-type: none;
  margin-left: -1rem;
}
.para-first {
  font-weight: 500;
  font-size: 20px;

  color: #525252;
  margin-bottom: 0rem;
}

.share-text {
  font-weight: 600;
  font-size: 22px;

  color: #152934;
}

.pading-boxs {
  padding-left: 2rem;
}

.padding-box-1 {
  padding-left: 1rem;
}

.card {
  background: #ffffff;
  box-shadow: 0px 2.65532px 13.2766px rgba(182, 182, 182, 0.25);
  border-radius: 5.31064px;
  border-color: white;
}

.container-check {
  padding-left: 2rem;
  padding-right: 2rem;
}

.dates-time {
  font-size: 20px;
}

.date {
  font-size: 23px;
}

.title-head-1 {
  font-weight: 600;
  font-size: 32px;

  color: #152934;
}

.card {
  width: 20rem;
}

.iocns-social {
  margin-top: 3rem;
}

.event-details {
  text-align: center;
}

.publish-btn {
  text-align: end;
}

.detail-cap {
  font-size: 2.2rem;
  font-weight: 700;
}
#orgainzersLabel{
  text-align: center !important;
 margin-left: 95px !important;
}

.edit {
  font-size: 18px;
  color: #33cc94;
  font-weight: 600;
  cursor: pointer;
}
.pens {
  font-size: 13px;
  color: #33cc94;
}

.views-all {
  display: flex;
  justify-content: center;
  justify-items: end;
  align-items: flex-end;
  height: 100%;
}

.modal-title {
  color: #33cc94;
  font-weight: 700;
}

.dates-modal {
  font-weight: 400;
  font-size: 27px;
  color: white;
  background: #152934;
  border-radius: 4px 0px 0px 4px;
  height: 9rem;
}

.dates-time-modal {
  font-size: 17px;
}

.notFound{
  font-weight: 600;
  font-size: 25px;
  text-align: center;


  color: #152934;
}

.nofound-img{
  text-align: center;
  margin-top: 4rem;
}

.nofound-imgs{
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .title-head {
    font-size: 25px;
  }

  .org-title {
    font-size: 28px;
  }

  .info-detail {
    margin-left: 2rem;
  }

  .title-head-1 {
    font-size: 22px;
  }

  .box-2 {
    height: 39rem;
  }

  .org-title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 820px) {
  .iocns-social {
    margin-top: 0rem;
  }
  .box-1 {
    height: auto;
  }

  .box-2 {
    height: auto;
    margin-bottom: 1rem;
  }

  .btn_common {
    margin-bottom: 1rem;
  }

  .speaker-icon {
    width: 7vw;
  }
  .info-detail {
    margin-left: 2.8rem;
  }
  .card {
    width: 18rem;
  }

  .btn-register {
    letter-spacing: normal;
  }

  .share-text {
    font-size: 18px;
  }

  .icon-set {
    width: 4vw;
  }
}

@media only screen and (max-width: 600px) {
  .box-1 {
    height: auto;
    margin-bottom: 1rem;
  }

  .box-2 {
    height: auto;
    margin-bottom: 1rem;
  }
  .info-detail {
    margin-left: 1rem;
  }

  .btn_common {
    margin-bottom: 1rem;
  }

  .org-title {
    font-size: 23px;
  }

  .card {
    width: auto;
  }
  .share-text {
    margin-top: 1rem;
  }
  .para-first {
    margin-top: 1rem;
  }
}
