<footer class="w-100 py-4 flex-shrink-0">
  <div class="container footer-cont">
    <div class="row gy-4 gx-5">
      <div class="col-lg-4 col-md-6">
        <img src="../../assets/images/PiroSpacelogo.svg" alt="" class="mb-2" (click)="imgClick()" class="piro-img" />
        <p class="small text-muted footer-para">
          Piro Space is a decentralized Metaverse where you can host your virtual events and enjoy an immersive experience
        </p>
      </div>
      <div class="col-lg-4 col-md-6 list-social">
        <!-- <h5 class="text-black mb-3">Quick links</h5>
        <ul class="list-unstyled text-black text-lists">
          <li><a href="#">Pricing</a></li>
          <li class="mt-1"><a href="#">Explore</a></li>
          <li class="mt-1"><a href="#">Features</a></li>
        </ul> -->
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class="text-black mb-3 book-demo">Book a <i class="free-color">Free</i> Demo</h5>
        <div class="form-submit">
          <form autocomplete="off" [formGroup]="bookForm">
            <div class="row">
              <div class="col-md-12 d-none mb-2"></div>
              <div class="col-lg-12">
                <div class="form-group mb-3">
                  <input
                    autocomplete="false"
                    type="text"
                    class="form-control extra-width"
                    id="name"
                    placeholder="Name *"
                    formControlName="name"
                    data-toggle="tooltip"
                    data-trigger="hover"
                    data-placement="top"
                    required
                    data-original-title=""
                    title=""
                  />
                  <div class="mt-1" *ngIf="f['name'].touched && f['name'].invalid">
                    <p *ngIf="f['name'].errors && f['name'].errors['required']" style="color: red">Name is required</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group mb-3">
                  <input
                    autocomplete="false"
                    type="email"
                    class="form-control extra-width"
                    placeholder="Email *"
                    formControlName="email"
                    data-toggle="tooltip"
                    data-trigger="hover"
                    data-placement="top"
                    required
                    data-original-title=""
                    title=""
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    [email]="true"
                  />

                  <div class="mt-1" *ngIf="f['email'].touched && f['email'].invalid">
                    <p *ngIf="f['email'].errors && f['email'].errors['required']" style="color: red">Email is required</p>
                    <p *ngIf="f['email'].errors?.['pattern']" style="color: red">Enter A Valid Email</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tele mb-3 extra-width">
                  <ngx-intl-tel-input
                    [cssClass]="'form-control '"
                    [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="false"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.India"
                    [selectFirstCountry]="selectFirstCountry"
                    [phoneValidation]="true"
                    [separateDialCode]="separateDialCode"
                    (ngModelChange)="onChange($event)"
                    formControlName="phone"
                    required
                  >
                  </ngx-intl-tel-input>
                </div>
                <div class="mt-1" *ngIf="f['phone'].touched && f['phone'].invalid">
                  <p *ngIf="f['phone'].errors && f['phone'].errors['required']" style="color: red">Phone is required</p>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn_mythree" style="width: 100%; cursor: pointer" (click)="bookDemo()">
                Submit <i class="fa fa-spinner fa-spin" *ngIf="imgloading"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="footer-url">
      <div class="row">
        <div class="col-md-8">
          <p class="small text-muted mb-0">&copy; 2022 Piro Space. All rights reserved.</p>
        </div>
        <div class="col-md-4">
          <div class="footer-social-icon social-icons">
            <a href="https://www.instagram.com/piro.space/?hl=en" class="icon-svg insta" target="_blank">
              <img src="../../assets/images/instaVect.png" alt="" class="icon-set" />
            </a>
            <a href="https://t.me/+jjVAe288iMk5YmE9" class="icon-svg" target="_blank">
              <img src="../../assets/images/telegramVector-2.png" alt="" class="icon-set" />
            </a>
            <a href="https://www.linkedin.com/company/pirospace/" class="icon-svg" target="_blank">
              <img src="../../assets/images/_x35_6-linkedin.png" alt="" class="icon-set" />
            </a>
            <a href="https://www.facebook.com/PiroSpace" class="icon-svg" target="_blank">
              <img src="../../assets/images/meta.png" alt="" class="icon-set" />
            </a>
            <a href="https://twitter.com/PiroSpace" class="icon-svg" target="_blank">
              <img src="../../assets/images/TwitterPNG.png" alt="" class="twit" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: displayStyle }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12 success">
          <div class="img-success">
            <img src="../../assets/images/IconArtwork.jpg" alt="" width="100%" />
          </div>
        </div>
      </div>

      <div class="modal-body para">
        <p class="contact">Thank You for contacting us</p>
        <p>
          Your submission has been received. One of our Representative from Sales Team will get in touch with you for further
          assistance.
        </p>
      </div>
      <div class="btn-done">
        <button type="button" class="btn btn-down" (click)="closePopup()">Done</button>
      </div>
    </div>
  </div>
</div>
