// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

@import "../node_modules/intl-tel-input/build/css/intlTelInput.css";

@import "../../node_modules/ng-pick-datetime/assets/style/picker.min.css";

.para{
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  padding: 1rem 4rem;
}

.modal {
  padding-top: 150px;
}

.ngx-pagination .current{
  background: #3b3b64 !important;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 420px) {
  .otp-input[_ngcontent-qlw-c122] {
    width: 30px;
    font-size: 18px;
    height: 40px !important;
  }
}
